[Desktop Entry]
Name=Idesk-x-set
Name[ru]=Idesk-x-set
GenericName=Idesk-x-set
GenericName[ru]=Настройка Idesk-x
Comment=Settings icon Idesk-x
Comment[ru]=Настройка иконок Idesk-x
Exec=idesk-x-set %U
Type=Application
Icon=idesk-x-set
Categories=Application;System;Utility;Core;
